<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
</head>

<body>

<h2>Welcome to Smart City Managent!</h2>

<p>
    Hello <strong th:text="${name}"></strong>,
</p>

<p>
    Your registration has been completed successfully.
</p>

<p>
    Registered Email:
    <strong th:text="${email}"></strong>
</p>

<p>
    You can now login to your School ERP account.
</p>

<br>

<p>
    Regards,<br>
    <strong>School ERP Team</strong>
</p>

</body>

</html>